/**
 * 表单样式
 * ---- NOTE ----
 * 1rem setted 20px
 */
.flex{
	display:flex;
	display: -webkit-flex;
}
.felx-1 {-webkit-flex:1; flex:1;}


.form-left{
	width: 4rem;
	height: 1.75rem;
	line-height: 1.75rem;
}

.form-right{
	height: 1.75rem;
	line-height: 1.75rem;
	box-sizing: content-box;
}
.form-right-db{
	
}

.form-right>input{
	height: 1.75rem;
	width: 100%;
}
.form-right-db>textarea{
	width: 100%;
}

input{
	border-top: 0.25px solid #F1F1F1;
	border-bottom: 0.5px solid #F1F1F1;
}
textarea{
	resize: none;
	border-top: 0.25px solid #F1F1F1;
	border-bottom: 0.5px solid #F1F1F1;
}


/*已重新定义*/
.form-mt{
	margin-top: 1rem;
}
.form-mb{
	margin-bottom: 0.5rem;
}
.form-mb-db{
	margin-bottom: 2rem;
}



/*待整顿*/
.grid-all{
	height:55px;
}

.grid-form-right .grid .col-1 input{
	height:35px;
}

.grid-form-right .grid div.w28{ 
	width:28px;
}

.grid-form-right .grid div.w20{
	width:20px;
}

.grid-form-right .grid .col-0 select{ 
	width:28px;
	height:35px; 
	font-size:100%; 
	padding: 0; 
	margin: 0; 
	background-color:white; 
	background-image:none; 
	text-align:center;
}

.grid-form-right .grid .col-0 span{ 
	width:20px;
	height:35px; 
	line-height:35px;
	font-size:100%; 
	padding: 0; 
	margin: 0; 
}

.grid-form-right>select{
	height:35px; 
	font-size:100%; 
	padding:0px 0px 0px 10px; 
	margin: 0; 
	background-color:white; 
	background-image:none;
}



.list li span.li_right{
    float:right;
}

.grid-form-left-64{
	width:80px;
	height: 64px;
	line-height:64px;
}

.grid-form-right-64{
	height: 64px;
	line-height:64px;
}



